
html{
            background: white; 
        }        
        body{
            font-family: Impact, Charcoal, sans-serif;
            background:white;
            max-width: 1000px;
            margin: 0 auto; 
        }
        header, footer{
            background: grey; 
            color: white;
            padding: 20px 10px; 
        }

ul{
    margin: 0;
    padding: 0; 
}

li{
    list-style: circle inside; 

}

a{
    text-decoration: none; 
    color: inherit; 

}

a:hover{
    color:purple;
}

header li{
    display: inline-block;
}

header h1, nav{
    display: inline-block;
}

header h1{
    width: 70%;
}
main{
    width: 680px; 
    display: inline-block;
    padding: 10px;
}

aside{
    width: 270px; 
    display: inline-block;
    vertical-align: top; 
    padding: 10px; 
}
 
 #name{
    background: red;
 }

.product{
    box-sizing: border-box;
    border: 1px solid grey; 
    width: 210px; 
    margin: 5px;
    padding: 5px;
    display: inline-block;
    text-align: center; 
}

.button{
    padding: 10px; 
    display: inline-block;
}

.button:last-of-type{
    background: blue; 
    color: white; 
}

p:first-of-type{
    color: red; 
}

img{
    max-width:100%;
}

/* Product Detail page */

.product-detail{
    width: 660px;
}

.product-detail img{
    max-width: 50%;
    float: right; 
}

#position {
    position: sticky;
    top: 10px;
    left: 10px;
}

/* Contact Us */

form{
    padding: 10px;
    margin: 10 px;
    width: 600 px;
}


.inline label {
    display: inline-block;
    width: 100px;
}

input[type="text"], input[type="email"], textarea{
    padding: 10 px;
    width: 400 px;
}

/* Table */
table{
    width: 400px;
    text-align: left; 
    margin: 20px 0; 
}

caption{
    font-weight: bold; 
    font-style: italic;
    border-bottom: 1px dotted; 
    padding: 10 px; 
}

th, td{
    padding: 10 px;
}

tr:hover{
    background: grey;
}


